h3 {
   color:  #654321 ;
     text-decoration: overline underline 5px #ADD8E6
     
}
body {
  background-color: #FFFDD0
}

img {
  width: 30%;
  height 100%

}
img:hover {
  width: 50%;
  border ;
}

h2:hover {
  text-decoration: underline wavy #ADD8E6 20px;
  font-size: 400%;
  text-transform: uppercase;
}
