nav {
  
 list-style-type: none;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 50px;
}

li {
  display: inline;
}
li a {
  text-decoration: none;
  color: tan;
  padding: 15px 50px;
  
}

li a:hover {
  background-color: lightblue;
  color: black;
}
h3 {
   color:  #654321 ;
     text-decoration: overline underline 5px #ADD8E6
     
}
body {
  background-color: #FFFDD0
}

img {
  width: 30%;
  height 100%

}
img:hover {
  width: 50%;
  border ;
}

h2:hover {
  text-decoration: underline wavy #ADD8E6 20px;
  font-size: 400%;
  text-transform: uppercase;
}
